doctype html
html
    head
        link(href='homepagestyle.css' rel='stylesheet')
    body
        header
            nav
                ul
                    each item in config.menu
                        a(href=item[1])
                            div(class='menu_item')
                                li(id=item[1]) #{item[0]}
                        
        h1 #{title}
        block content
        footer    